
*,
*:before,
*:after{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body{
    background-color: rgb(70, 29, 218);
}

.container{

    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 50%;
    padding: 50px 30px;
}

.container *{

    font-family: "poppins" ,sans-serif;
    border: none;
    outline: none;
}

.input-wrapper{

    background-color: rgb(19, 18, 18);
    padding: 30px 25px;
    border-radius: 9px;
    box-shadow: 0 15px 20px rgb(14, 14, 14);
}

input , 
button{
   
    height: 50px;
    background-color: rgb(250, 240, 240);
    color: rgb(14, 13, 13);
    font-weight: 600;
    border-radius: 6px; 
}

input{
    width: 60%;
    padding: 0 20px;
    font-size: 14px;
}

button{

    padding: 0px 10px;
    margin-left: 30px;
    background-color: #fff;
}

button:hover{

    background-color: #f33e07;
}

.container .result{

      display: flex;
      justify-content: space-between;
      width: 500px;
      padding: 0 2px;
      margin-top: 50px;

}

.container .result .box{

     color: #fff;
     padding: 30px;
     border-radius: 5px;
     text-align: center;
     background-color: rgb(12, 12, 12);
     box-shadow: 2px 14px 20px black;
}

.container .result .box span{

    font-size: 30px;
    font-weight: 600;
}

.container .result .box p{

    margin-top: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
}